<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>ServletsControlls.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>incidentesServlts</servlet-name>
        <servlet-class>ServletsControlls.incidentesServlts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testeServlets</servlet-name>
        <servlet-class>ServletsControlls.testeServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>relatorioServlet</servlet-name>
        <servlet-class>ServletsControlls.relatorioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadUserServlet</servlet-name>
        <servlet-class>ServletsControlls.cadUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>incidentDetailServlet</servlet-name>
        <servlet-class>ServletsControlls.incidentDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fechaIncidenteServlet</servlet-name>
        <servlet-class>ServletsControlls.fechaIncidenteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Incidentes</servlet-name>
        <servlet-class>ServletsControlls.ExtractionExcelPaternServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pesquisaServlet</servlet-name>
        <servlet-class>ServletsControlls.pesquisaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>relatorioPesquisaServlet</servlet-name>
        <servlet-class>ServletsControlls.relatorioPesquisaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>ServletsControlls.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>incidentesServlts</servlet-name>
        <url-pattern>/incidentesServlts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testeServlets</servlet-name>
        <url-pattern>/testeServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>relatorioServlet</servlet-name>
        <url-pattern>/relatorioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadUserServlet</servlet-name>
        <url-pattern>/cadUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>incidentDetailServlet</servlet-name>
        <url-pattern>/incidentDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fechaIncidenteServlet</servlet-name>
        <url-pattern>/fechaIncidenteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Incidentes</servlet-name>
        <url-pattern>/ExtractionExcelPaternServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pesquisaServlet</servlet-name>
        <url-pattern>/pesquisaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>relatorioPesquisaServlet</servlet-name>
        <url-pattern>/relatorioPesquisaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>com.sun.faces.writeStateAtFormEnd</param-name>
        <param-value>false</param-value>
    </context-param>
</web-app>
